.options {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #fff;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.options a {
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.options a:hover {
  background: #444;
}